name: ci-golang-workflow
on:
  pull_request:
    branches:
      - dev
strategy:
  matrix:
    go: ["1.25.3", "1.24.3"]
jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with: 
          go-version: ${{ matrix.go }}
      - run: go test
      - run: go run math.go